*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;

}



body{

background:#f5f5f5;

}




header{

background:white;

padding:20px;

display:flex;

align-items:center;

gap:30px;

box-shadow:0 2px 10px #ccc;

}



.logo{

font-size:30px;

font-weight:bold;

color:#e91e63;

}




.search{

flex:1;

}


.search input{

width:100%;

padding:15px;

border:none;

background:#eee;

border-radius:10px;

}





#cart-btn{

background:#e91e63;

color:white;

border:none;

padding:15px;

border-radius:10px;

cursor:pointer;

}





.categories{

display:flex;

justify-content:center;

gap:15px;

margin:25px;

}



.categories button{

background:#3498db;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

cursor:pointer;

}





.title{

text-align:center;

margin:20px;

}





.products{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}





.card{

background:white;

width:250px;

padding:20px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 15px #ccc;

transition:.3s;

cursor:pointer;

}



.card:hover{

transform:translateY(-10px);

}




.discount{

background:#e91e63;

color:white;

display:inline-block;

padding:5px 10px;

border-radius:20px;

margin:10px;

}



.old-price{

color:#999;

text-decoration:line-through;

}



.price{

color:#27ae60;

font-size:20px;

font-weight:bold;

margin:10px;

}



.rating{

color:#f39c12;

}



.card button{

background:#27ae60;

color:white;

border:none;

padding:12px;

border-radius:10px;

cursor:pointer;

}




.cart{

display:none;

position:fixed;

right:20px;

top:100px;

width:350px;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 10px 30px #555;

}



.cart-item{

padding:10px;

border-bottom:1px solid #ddd;

}



.cart-item button{

margin:5px;

padding:5px;

cursor:pointer;

}